@use "../../styles/variables" as *;
.button {
    /*--bg-color: var(--brand-hover);*/
    background-color: $button-primary-bg;
    display: inline-flex;
    align-items: center;
    min-height: 52px;
    /*padding: var(--space-s) var(--space-l);*/
    padding: 14px 20px;
    border: none;
    color: $button-primary-text;
    transition: background-color 0.35s ease;
    cursor: pointer;
}

.button:hover{
    background-color: $button-primary-bg-hover;
}
.button:active{
    background-color: $button-primary-bg;
}
.button:disabled{
    /*background-color: var(--color-light-grey);*/
    pointer-events: none;
    cursor: default;
}
.button_disabled {
    background-color: $button-primary-bg-disabled;
}
.button .button__loader{
    flex-shrink: 0;
    margin-right: 8px;
    color: currentColor;
}
