.imageContainer{
  width: 1440px;
  height: 572px;
  background-image: url('/src/assets/main_bg.webp');
  background-size: cover;
  background-position: center;
  margin-bottom: 36px;
}
.text{
  text-align: center;
}
.search{
  width: 1154px !important;
}
